@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-onyx text-base font-light text-brand-white desktop:text-xl;
  }
  h1 {
    @apply font-dazzle text-5xl font-medium tracking-wider desktop:text-8xl;
  }
  h2 {
    @apply font-dazzle text-xl font-light tracking-wide desktop:text-3xl;
  }
  h3 {
    @apply font-dazzle text-xl font-medium tracking-wide;
  }
  a {
    @apply font-dazzle text-base font-light hover:underline desktop:text-xl desktop:hover:text-brand-yellow;
  }
  p {
    @apply text-base font-normal leading-relaxed tracking-wider desktop:text-xl;
  }
  button {
    @apply font-sans text-base font-medium tracking-widest desktop:text-xl;
  }
  footer,
  span {
    @apply font-dazzle font-light tracking-wider;
  }
}

@layer components {
  .header {
    @apply fixed top-0 z-50 flex w-full flex-row items-center justify-between shadow-md backdrop-blur-sm;
  }
  .btn {
    @apply cursor-pointer rounded-2xl py-3 px-6 drop-shadow-xl;
  }
}

@font-face {
  font-family: 'dazzle_unicase';
  src: url('../fonts/dazzle_unicase_heavy.otf') format('opentype');
  font-weight: 900;
}
@font-face {
  font-family: 'dazzle_unicase';
  src: url('../fonts/dazzle_unicase_bold.otf') format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: 'dazzle_unicase';
  src: url('../fonts/dazzle_unicase_medium.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'dazzle_unicase';
  src: url('../fonts/dazzle_unicase_light.otf') format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'dazzle_unicase';
  src: url('../fonts/dazzle_unicase_thin.otf') format('opentype');
  font-weight: 100;
}
